.announcement {
  float: auto;
  min-width: 525px;
  min-height: 280px;
  border-top: 4px solid Black;
  border-bottom: 4px solid Black;
}
.announce-left {
  background-color: #C03923;
  border-left-color: Black;
  border-left-style: solid;
  border-left-width: 4px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 2px;
  color: white;
  padding-top: 30px;
  /*width: 550px;*/
}
.announce-right {
  background-color: light-gray; /*#c4c4c4;*/
  border-left-color: Black;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: : Black;
  border-right-style: solid;
  border-right-width: 4px;
}
.btn-left.btn {
  color: white;
}
.page-topic {
  background-color: #c4c4c4;
  border: 2px solid black;
  /*float: auto;*/
  margin-bottom: 10px;
  max-width: 800px;
}
.page-topic-narrative {
  padding-top: 110px;
}
.post-title {
  font-size: 28px !important;
}
.title {
  font-size: 46px;
}
