---
title: "Meetings"
layout: page
description:
category: meetings
paginate: 2
---

  <div class="container announcement">
    <div class="row">
      <center>
        <div class="col-lg-12 page-topic">
          <h1>Next Meeting: August 23, 2017</h1>
          <h2>10 AM - 12 PM</h2>
          <h2><a href="https://www.google.com/maps/place/Mercer+Island+City+Buildings/@47.5741478,-122.2094113,16z/data=!4m5!3m4!1s0x0:0xcb21ca3b21c72c4!8m2!3d47.5773906!4d-122.2104563?shorturl=1">Mercer Island Council Chambers</a></h2>
          <div class="col-lg-6">
            <center>
              <h3>Topics</h3>
              <h4>Main Topic: <i>Going Mobile</i></h4>
              <h4><i>Lightning Discussions</i></h4>
              <h4>Optional: <i>Student Presentations</i></h4>
              <h4><a href="/docs/2017/08/CPSGIS_Agenda__82317.pdf">Full Agenda</a> (PDF)</h4>
            </center>
          </div>
          <div class="col-lg-6">
            <center>
              <h3>Presenters</h3>
              <h4>Darci Hanson,<br /><i>City of Enumclaw</i></h4>
              <h4>Catherine Crook &amp; Heath Brackett,<br /><i>City of Kent</i></h4>
              <h4>Chris Beaudette &amp; Zorba Conlen,<br /><i>City of Bellevue</i></h4>
            </center>
          </div>
          <!--
          <div class="col-lg-12">
            <p class="page-topic-narrative">
              The next meeting is going to be about all kinds of groovy mappy things.
              We'll talk about lidar and geocortex and symbology and stuff.
            </p>
          </div>
        -->
        </div>
      </center>
    </div>
  </div>

  <div class="row col-lg-12">
    <h1>Previous Meetings</h1>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      {% for post in site.categories[page.category] %}
      <div class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">            {{ post.title }}
              </h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">
                  {{ post.subtitle }}
              </h3>
              {% endif %}
          </a>
          <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
      </div>
      <hr>
      {% endfor %}

      <!-- Pager -->
      {% if paginator.total_pages > 1 %}
      <ul class="pager">
          {% if paginator.previous_page %}
          <li class="previous">
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
          </li>
          {% endif %}
          {% if paginator.next_page %}
          <li class="next">
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
          </li>
          {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
