---
title: "Meetings"
layout: page
description:
category: meetings
paginate: 2
---

  <div class="container announcement">
    <div class="row">
      <center>
        <div class="col-lg-12 page-topic">
          <h1>Next Meeting: December 5, 2017</h1>
          <h2>10 AM - 12 PM</h2>
          <h2><a href="https://www.google.com/maps/place/Mercer+Island+City+Buildings/@47.5741478,-122.2094113,16z/data=!4m5!3m4!1s0x0:0xcb21ca3b21c72c4!8m2!3d47.5773906!4d-122.2104563?shorturl=1" target="_blank">Mercer Island Council Chambers</a></h2>
          <!-- TWO-COLUMNS, generally used when topics and presenters are known 
          <div class="col-lg-6">
            <center>
              <h3>Topics</h3>
              <h4>Main Topic: <i>ArcGIS Pro &amp; Portal for ArcGIS</i></h4>
              <h4><i>Lightning Discussions</i></h4>
              <h4>Optional: <i>Student Presentations</i></h4>
              <h4><a href="/docs/2017/08/CPSGIS_Agenda__82317.pdf"><i>Full Agenda</i></a> (PDF)</h4>
            </center>
          </div>
          <div class="col-lg-6">
            <center>
              <h3>Presenters</h3>
              <h4>Darci Hanson,<br /><i>City of Enumclaw</i></h4>
              <h4>Catherine Crook &amp; Heath Brackett,<br /><i>City of Kent</i></h4>
              <h4>Chris Beaudette &amp; Zorba Conlen,<br /><i>City of Bellevue</i></h4>
            </center>
          </div>
          -->
          <!-- SINGLE-COLUMN, used when topic(s) and/or presenters are not known, for announcements to get them! -->
          <h3>Call for Presenters</h3>
          <div class="col-lg-12 page-topic-narrative">
            <p>
              The Central Puget Sound GIS users Group is looking for presenters for the Fall meeting, December 5th 10am-12pm at the Mercer Island City Hall Council Chambers. This location provides internet access, a projector and a computer. 
              The topics are ArcGIS Pro and/or Portal for ArcGIS. Presentations may be an example of an implementation, how to, Tips and Tricks, or lessons learned. Presenters are encouraged to use real world examples. This is an opportunity to share 
              your achievements and/or help others avoid some of your heart ache. Presenters are eligible for “Contributions to the Profession” credits toward their GISP application or renewal.
              Presentations are typically 20 minutes long.
            </p>
            <p>
              Please note this is not a showcase for vendor products or solutions.  
            </p>            
            <p>
              Here are some questions to get ideas on what to present, but you don’t have to answer all of them during your presentation. 
              <ul>
                 <li>What worked?</li>
                 <li>Challenges (both technical and practical)</li>
                 <li>How was it deployed?</li>
                 <li>What IT resources did you need to get it going?</li>
                 <li>Plans moving forward</li>
                 <li>Tips & Tricks</li>
                 <li>Licensing</li>
                <li>Resources required (staff time, consultant...)</li>
              </ul>
              <br/>
              For examples of some previous presentations please browse the meeting links below.
            </p>
            <p>
              <center>
                <strong>Presentation submissions are due by November 5th.</strong> <br/>
                <i>Presentations are eligible for contributions to the GISCI profession credits for new or renewing GISPs!</i><br/>
                Please email <a href="mailto:Rnolet@shorelinewa.gov">Ryan Nolet</a> if you are interested in presenting.
              </center>
            </p>
          </div>
        </div>
      </center>
    </div>
  </div>

  <div class="row col-lg-12">
    <h1>Previous Meetings</h1>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      {% for post in site.categories[page.category] %}
      <div class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">            {{ post.title }}
              </h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">
                  {{ post.subtitle }}
              </h3>
              {% endif %}
          </a>
          <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
      </div>
      <hr>
      {% endfor %}

      <!-- Pager -->
      {% if paginator.total_pages > 1 %}
      <ul class="pager">
          {% if paginator.previous_page %}
          <li class="previous">
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
          </li>
          {% endif %}
          {% if paginator.next_page %}
          <li class="next">
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
          </li>
          {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
